@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <ul>
            <li>Genre: @Model.Genre.Name</li>
            <li>Release Date: @Model.ReleaseDate.ToShortDateString()</li>
            <li>Date Added: @Model.AddedDate.ToShortDateString()</li>
            <li>Number in Available: @Model.NumberAvailable</li>
        </ul>
    </div>
    <div class="col-md-6">
        
        @if (Model.MovieImage != null)
        {
            var base64 = Convert.ToBase64String(Model.MovieImage);
            var imgSrc = String.Format("data:image/gif; base64, {0}", base64);

            <img src="@imgSrc" class="img-thumbnail" alt="Responsive image" width="250" height="250">
        }
       
    </div>
</div>


