@model Vidly.ViewModels.MovieViewModel
@{
    ViewBag.Title = "MoviesForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    var imgSrc = "";

    if (Model.MovieImage != null)
    {
        var base64 = Convert.ToBase64String(Model.MovieImage);
        imgSrc = String.Format("data:image/gif; base64, {0}", base64);
    }
    else
    {
        imgSrc = "";
    }

}

<h2>@Model.Title</h2>
<hr/>
@Html.ValidationSummary(true, "Please fix this following error.")

@using (Html.BeginForm("Save","Movie", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new {@class = "form-control", placeholder = "Movie Name"})
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, "{0:d MMM yyy}", new {@class = "form-control", placeholder = "1 Jan 2000" })
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.GenreId)
        @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.GenreId)
    </div>

    <div class="form-group">
        
            <label for="movieImage">Movie Image</label>
            <input type="file" name="Image" id="movieImage" onchange="previewFile()" />

            @{
                if (Model.Id != 0)
                {
                    <img src="@imgSrc" alt="Image preview..." class="img-responsive img-thumbnail" width="150" />
                }
                else
                {
                    <img src="@Model.MovieImage" alt="Image preview..." class="img-responsive img-thumbnail" width="150" />
                }
            }
        </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NumberInStock)
        @Html.TextBoxFor(m => m.NumberInStock, new {@class = "form-control", placeholder = "10" })
        @Html.ValidationMessageFor(m => m.NumberInStock)
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">@Model.BtnText</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    
    <script>
        function previewFile() {
            var preview = document.querySelector('img');
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();

            reader.addEventListener("load", function () {
                preview.src = reader.result;
            }, false);

            if (file) {
                reader.readAsDataURL(file);
            }
        }
    </script>
    

}


